Proteomics/output_blasts/diamond_to_marDB/JGI_to_Aurantio_only.out
Proteomics/output_blasts/diamond_to_marDB/JGI_to_Aurli_only.out
Proteomics/output_blasts/diamond_to_marDB/mmetspENA_to_Aurli_only.out
Proteomics/output_blasts/diamond_to_marDB/mmetspENA_to_Aurantio_only.out
Phylogenomics/data/proteomes
Phylogenomics/data/*fasta
Phylogenomics/data/*dmnd
Phylogenomics/data/genome_assemblies/Aurli1_AssemblyScaffolds.fasta
Phylogenomics/data/genome_assemblies/Aurli2_AssemblyScaffolds.fasta
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Gene_Duplication_Events/Duplications.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Naviculales.Naviculaceae.Craspedostauros.australis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Choreotrichida.Strombidinopsidae.Strombidinopsis.acuminata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.japonicum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.dohrnii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Cymatosirales.Cymatosiraceae.Minutocellus.polymorphus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Peronosporales.Peronosporaceae.Phytophthora.ramorum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Euplotida.Euplotidae.Moneuplotes.crassus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.heimii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Bicosoecida.Cafeteriaceae.Cafeteria.roenbergensis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.australis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Naviculales.Phaeodactylaceae.Phaeodactylum.tricornutum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Synurophyceae.Ochromonadales.Ochromonadaceae.Ochromonadaceae.sp..CCMP2298.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Tryblionella.compressa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Melosirales.Stephanopyxidaceae.Stephanopyxis.turris.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Stephanodiscaceae.Cyclotella.meneghiniana.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Cyclophorales.Cyclophoraceae.Astrosyne.radiata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Cylindrotheca.closterium.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Triceratiales.Triceratiaceae.Triceratium.dubium.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Saprolegniales.Saprolegniaceae.Saprolegnia.diclina.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Synchromophyceae.Synchroma.pusillum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.fraudulenta.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Fragilariopsis.kerguelensis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Rhizosoleniales.Rhizosoleniaceae.Rhizosolenia.setigera.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Aplanochytrium.stocchinoi.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.debilis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Paraphysomonadaceae.Paraphysomonas.imperforata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Hondaea.fermentalgiana.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Foraminifera.Rotaliida.Elphidiidae.Elphidium.margaritaceum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Dictyochales.Dictyocha.speculum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.punctigera.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Pelagophyceae.Pelagophyceae.sp..CCMP2135.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.arenysensis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Euplotida.Euplotidae.Euplotes.focardii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Prymnesiales.Prymnesiaceae.Imantonia.rotunda.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Naviculales.Stauroneidaceae.Stauroneis.constricta.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.curvisetus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Leptocylindrales.Leptocylindraceae.Leptocylindrus.danicus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Peronosporales.Peronosporaceae.Hyaloperonospora.arabidopsidis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Rhabdonematales.Grammatophoraceae.Grammatophora.oceanica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bolidophyceae.Parmales.Triparmaceae.Triparma.pacifica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Striatellales.Striatellaceae.Striatella.unipunctata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Peronosporales.Peronosporaceae.Phytophthora.megakarya.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Partenskyella.glossopodia.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Raphidophyceae.Chattonellales.Chattonellaceae.Fibrocapsa.japonica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Thraustochytrium.sp..LLF1b.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.gravida.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Strombidiidae.Strombidium.inclinatum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.affinis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Cymatosirales.Cymatosiraceae.Extubocellulus.spinifer.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Thalassionemales.Thalassionemataceae.Thalassionema.frauenfeldii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Aplanochytrium.sp..PBS07.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Gymnochlora.sp..CCMP2014.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Chrysoculter.rhomboideus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.costatum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Brachiopoda.Lingulata.Lingulida.Lingulidae.Lingula.anatina.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Coccolithales.Calcidiscaceae.Calcidiscus.leptoporus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Coccolithales.Coccolithaceae.Coccolithus.braarudii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Raphidophyceae.Chattonellales.Chattonellaceae.Heterosigma.akashiwo.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Thalassionemales.Thalassionemataceae.Thalassionema.nitzschioides.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Pavlovales.Pavlovaceae.Pavlova.lutheri.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Aplanochytrium.kerguelense.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Prostomatea.Prorodontida.Colepidae.Tiarina.fusa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Lithodesmiales.Lithodesmiaceae.Ditylum.brightwellii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Thalassionemales.Thalassionemataceae.Thalassiothrix.antarctica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Amorphochlora.amoebiformis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.neogracilis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Naviculales.Amphipleuraceae.Amphiprora.paludosa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Chlorarachniophyceae.sp..BC52.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Bigelowiella.longifila.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Triceratiales.Triceratiaceae.Trieres.chinensis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Oligohymenophorea.Aristerostoma.sp..ATCC.50986.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Pavlovales.Pavlovaceae.Pavlova.gyrans.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Peronosporales.Peronosporaceae.Phytophthora.infestans.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.pseudonana.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Pythiales.Pythiaceae.Globisporangium.ultimum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Pedinellales.Pedinellales.sp..CCMP2098.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Cyclophorales.Cyclophoraceae.Cyclophora.tenuis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.rotula.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.menzelii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Chromulinaceae.Ochromonas.sp..CCMP1393.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Florenciellales.Florenciella.parvula.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Mediophyceae.Hemiaulales.Hemiaulaceae.Eucampia.antarctica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Heterotrichea.Heterotrichida.Climacostomidae.Climacostomum.virens.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Chromulinaceae.Spumella.elongata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Corethrales.Corethraceae.Corethron.hystrix.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Rhizosoleniales.Rhizosoleniaceae.Proboscia.alata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Chlorarachnion.reptans.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chromerida.sp..RM11.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Saprolegniales.Saprolegniaceae.Aphanomyces.invadans.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Thalassiophysales.Catenulaceae.Amphora.coffeiformis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.pungens.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Oligohymenophorea.Hymenostomatida.Tetrahymenidae.Tetrahymena.thermophila.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.oceanica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Pavlovales.Pavlovaceae.Exanthemachrysis.gayraliae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Litostomatea.Cyclotrichida.Mesodiniidae.Mesodinium.pulex.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Corethrales.Corethraceae.Corethron.pennatum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bolidophyceae.Parmales.Triparmaceae.Triparma.eleuthera.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Detonula.confervacea.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Rhizosoleniales.Rhizosoleniaceae.Proboscia.inermis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Phaeophyceae.Ectocarpales.Ectocarpaceae.Ectocarpus.siliculosus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Rhizochromulinales.Rhizochromulina.marina.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Licmophorales.Licmophoraceae.Licmophora.paradoxa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Aurantiochytrium.limacinum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Attheyaceae.Attheya.septentrionalis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Phaeocystales.Phaeocystaceae.Phaeocystis.cordata.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Oomycetes.Albuginales.Albuginaceae.Albugo.candida.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Fragilariales.Fragilariaceae.Synedropsis.cf..recta.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Aulacoseiraceae.Aulacoseira.subarctica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.sp..GSL56.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.Thraustochytriaceae.Schizochytrium.aggregatum.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Cercozoa.Chlorarachniophyceae.Lotharella.oceanica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Raphidophyceae.Chattonellales.Chattonellaceae.Chattonella.subsalsa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Paraphysomonadaceae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Dinobryaceae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Fragilariophyceae.Fragilariales.Fragilariaceae.Asterionellopsis.glacialis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.aff..antarctica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Pinguiophyceae.Pinguiochrysidales.Pinguiochrysidaceae.Phaeomonas.parva.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Pseudo-nitzschia.delicatissima.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Pinguiophyceae.Pinguiochrysidales.Pinguiochrysidaceae.Pinguiococcus.pyrenoidosus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Urostylida.Pseudokeronopsidae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Conticribra.weissflogii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Euplotida.Euplotidae.Euplotes.harpa.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Litostomatea.Pleurostomatida.Litonotidae.Litonotus.pictus.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.marinoi.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Pedinellales.Pseudopedinella.elastica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Coscinodiscales.Coscinodiscaceae.Coscinodiscus.wailesii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.dichaeta.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Dictyochophyceae.Pedinellales.Pteridomonas.danica.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bigyra.Labyrinthulomycetes.labyrinthulid.quahog.parasite.QPX.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Chrysophyceae.Chromulinales.Chromulinaceae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.grethae.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.minuscula.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Tintinnida.Xystonellidae.Favella.ehrenbergii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Tintinnida.Rhabdonellidae.Schmidingerella.taraikaensis.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Haptista.Haptophyta.Coccosphaerales.Pontosphaeraceae.Scyphosphaera.apsteinii.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthologues/Eukaryota.Ciliophora.Spirotrichea.Urostylida.Pseudokeronopsidae.Pseudokeronopsis.sp.$.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthogroups/Orthogroups_UnassignedGenes.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthogroups/Orthogroups.txt
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthogroups/Orthogroups.GeneCount.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Orthogroups/Orthogroups.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species57.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species60.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species106.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species2.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species138.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies57.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies60.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies2.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species38.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies106.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Species35.fa
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/SequenceIDs.txt
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies138.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_60.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_38.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_57.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_2.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_43.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_46.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast138_138.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_35.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast2_2.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies35.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_21.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_40.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_49.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/Blast38_42.txt.gz
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/diamondDBSpecies38.dmnd
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/clusters_OrthoFinder_I1.5.txt
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/clusters_OrthoFinder_I1.5.txt_id_pairs.txt
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/WorkingDirectory/OrthoFinder_graph.txt
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N120.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N2.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N101.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N58.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N17.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N36.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N73.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N6.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N49.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N0.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N87.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N28.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N61.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N1.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N59.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N22.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N106.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N71.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N35.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N12.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N72.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N88.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N47.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N108.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N48.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N114.tsv
Phylogenomics/data/proteomes/OrthoFinder/Results_Nov11/Phylogenetic_Hierarchical_Orthogroups/N100.tsv
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Skeletonemataceae.Skeletonema.marinoi.fasta
Phylogenomics/data/proteomes/Eukaryota.Dictyochophyceae.Pedinellales.Pedinellales.sp..CCMP2098.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Chaetocerotales.Chaetocerotaceae.Chaetoceros.neogracilis.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Mediophyceae.Cymatosirales.Cymatosiraceae.Extubocellulus.spinifer.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Mediophyceae.Lithodesmiales.Lithodesmiaceae.Ditylum.brightwellii.fasta
Phylogenomics/data/proteomes/Eukaryota.Raphidophyceae.Chattonellales.Chattonellaceae.Heterosigma.akashiwo.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Bacillariophyceae.Bacillariales.Bacillariaceae.Fragilariopsis.kerguelensis.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Conticribra.weissflogii.fasta
Phylogenomics/data/proteomes/Eukaryota.Bacillariophyta.Coscinodiscophyceae.Thalassiosirales.Thalassiosiraceae.Thalassiosira.oceanica.fasta
Phylogenomics/data/rfdb3_2020_Laby_andAurantio.fasta
Phylogenomics/data/rfdb3_2020_nonstr_only.fasta
Phylogenomics/data/ortholabyanno.csv
Phylogenomics/data/rfdb3_2020_str_not_laby.fasta
.git/objects/pack/pack-5daafdd424a1a07d565ab72b050c05846385889c.pack
